@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  font-size: 14px !important;
  height: 100%;
}

.nav-container {
  box-shadow: 0 1px 2px 0 #ddd;
  z-index: 10;
}

.list-group {
  max-height: calc(100vh - 100px);
  /* margin-bottom: 10px; */
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.list-section {
  border-right: 1px solid #dcdddf;
  box-shadow: 0.3px 0 1px 0 #ddd;
  z-index: 0;
}

.full-width-container {
  height: calc(100vh - 64px);
}

html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
} */

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin-top: 100px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-inn {
  width: 300px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 15px;
  background: #ffffff;
  padding: 2px 20px 2px 20px;
  border-radius: 3px;
  transition: all 0.3s;
  border: 1px solid #000;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.right2 {
  background-color: #ffffff;
  /* border: 1px solid #000; */
  height: 20vh;
}

img {
  height: 70px;
  width: 70px;
}

.dp {
  height: 110px;
  width: 100px;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.btn-success {
  background-color: black;
}

.ab {
  padding-left: 30px;
}

.ba {
  margin-right: 50px;
}

.age {
  margin-left: 100px;
}

.gender {
  margin-left: 100px;
}
